<br/>
<br/>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" [(ngModel)]="nome" id="nome" name="nome" placeholder="Pesquisa por Nome">
  </div>
  <button type="button" (click)="consultarUser();" class="btn btn-primary mb-2">Buscar</button>
  <button type="button" [routerLink] = "['/usuarioAdd']" style="margin-left: 5px;"  class="btn btn-success mb-2">Novo</button>
</form>

<br/>
<br/>


<table class="table">
  <thead class="thread-dark">
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Deletar</th>
      <th scope="col">Editar</th>
  </thead> 
  <tbody>
    <tr *ngFor="let student of students | paginate: {itemsPerPage:5, currentPage: p, totalItems : total }; let i = index">
      <td>{{student.id}}</td>
      <td>{{student.nome}}</td>
      <td>{{student.cpf}}</td>
      <td><button (click)="deleteUsuario(student.id, i)" class="btn btn-primary">Delete</button></td>
      <td><button [routerLink] = "['/usuarioAdd', student.id]" class="btn btn-warning">Editar</button></td>
    </tr>
    
  </tbody>
</table>

<div class="text-center">
  <pagination-controls (pageChange)="carregarPagina(p = $event);"
   previousLabel="Voltar" nextLabel = "Avançar" responsive="true"></pagination-controls>
</div>
